@mixin box-shadow($color, $percent) {
    box-shadow: 5px 5px 10px darken($color, $percent);
}

@mixin child-on-left($child) {
    :nth-child(#{$child}) {
        align-self: flex-end;
        position: relative;
        right: $margin + 1%;
        top: -2rem;
    } 
}