section.menu1 {
    flex-direction: column;
    position: relative;
    height: 20em;
    div { 
        img { /*image top of page*/
            width: 110%;
        }
        + div { /*restaurant name layout*/
            background-color: inherit;
            border-radius: 35px 35px 0px 0px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            bottom: 0;
            .heart {
                margin-right: 10%;
            }
        }
    }
}

section.menu2 {
    padding-top: 0;
    .cell {
        padding: 10px;
        flex-direction: column;
        height: 3em;
        div {
            justify-content: space-between;
        }
    }
}